@charset "UTF-8";

html {font-size: 100%;} /*16px*/

body {
  background-color: #DBD3D8;
  color: #223843;
  margin: 0;
  padding: 50px;
  line-height: 1.75;
  font-family: "Noto Sans SC"
}

h1 {
  font-size: 4em;
  margin-top: 0;
}

h2, h3 {
  color: #223843;
  text-align: : justify;
  font-family: "Noto Sans SC", sans-serif;
  font-size: 18px;
}

dt {
	font-size: 2em;
	font-weight: bold;
  margin-bottom: : 0;
}
